In [48]:
import pandas as pd

players = "Resources/People.csv"
schools = "Resources/Schools.csv"
colleges = "Resources/CollegePlaying.csv"
war2019 = "Resources/mlb2019war.csv"

players_df = pd.read_csv(players)
schools_df = pd.read_csv(schools)
colleges_df = pd.read_csv(colleges)
war2019_df = pd.read_csv(war2019)

In [53]:
# new data frame with split value columns 
war2019_df["Player Name"] = war2019_df["Name"].str.split('\\').str[0]

war2019_df["playerID"] = war2019_df["Name"].str.split('\\').str[1]
  
# # making separate first name column from new data frame 
# war2019_df["Player Name"]= new[0] 
  
# # making separate last name column from new data frame 
# war2019_df["Player ID"]= new[1]  
                                   
war2019_df

,Rk,Name,Age,Tm,G,PA,Rbat,Rbaser,Rdp,Rfield,...,162WL%,oWAR,dWAR,oRAR,Salary,Acquired,Pos Summary,Player Name,Player ID,playerID
0,1,Cody Bellinger*\bellico01,23,LAD,156,661,52,1,0,27,...,0.545,6.6,2.0,68,$605000,Amateur Draft,*938,Cody Bellinger*,bellico01,bellico01
1,2,Alex Bregman\bregmal01,25,HOU,156,690,53,-1,0,12,...,0.540,7.7,1.9,81,$640500,Amateur Draft,56/D,Alex Bregman,bregmal01,bregmal01
2,3,Marcus Semien\semiema01,28,OAK,162,747,43,2,0,12,...,0.539,7.5,2.2,78,$5900000,Traded,*6,Marcus Semien,semiema01,semiema01
3,4,Matt Chapman\chapmma01,26,OAK,156,670,24,0,-1,34,...,0.536,4.8,3.9,49,$580000,Amateur Draft,*5,Matt Chapman,chapmma01,chapmma01
4,5,Mike Trout\troutmi01,27,LAA,134,600,61,3,1,-2,...,0.537,8.3,0.2,87,$36833333,Amateur Draft,*8D,Mike Trout,troutmi01,troutmi01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1405,1406,Art Warren\warrear01,26,SEA,0,0,0,0,0,0,...,NaN,NaN,NaN,0,NaN,Amateur Draft,/1,Art Warren,warrear01,warrear01
1406,1407,Ryan Weber\weberry01,28,BOS,0,0,0,0,0,0,...,NaN,NaN,NaN,0,NaN,Free Agency,1,Ryan Weber,weberry01,weberry01
1407,1408,Matt Wotherspoon\wothema01,27,BAL,0,0,0,0,0,0,...,NaN,NaN,NaN,0,NaN,Traded,/1,Matt Wotherspoon,wothema01,wothema01
1408,1409,Mike Wright\wrighmi01,29,2TM,0,0,0,0,0,0,...,NaN,NaN,NaN,0,$567500,Amateur Draft,1,Mike Wright,wrighmi01,wrighmi01
1409,1410,Steven Wright\wrighst01,34,BOS,0,0,0,0,0,0,...,NaN,NaN,NaN,0,$1375000,Traded,/1,Steven Wright,wrighst01,wrighst01

In [52]:
players_df

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19873,zupofr01,1939.0,8.0,29.0,USA,CA,San Francisco,2005.0,3.0,25.0,...,Zupo,Frank Joseph,182.0,71.0,L,R,1957-07-01,1961-05-09,zupof101,zupofr01
19874,zuvelpa01,1958.0,10.0,31.0,USA,CA,San Mateo,NaN,NaN,NaN,...,Zuvella,Paul,173.0,72.0,R,R,1982-09-04,1991-05-02,zuvep001,zuvelpa01
19875,zuverge01,1924.0,8.0,20.0,USA,MI,Holland,2014.0,9.0,8.0,...,Zuverink,George,195.0,76.0,R,R,1951-04-21,1959-06-15,zuveg101,zuverge01
19876,zwilldu01,1888.0,11.0,2.0,USA,MO,St. Louis,1978.0,3.0,27.0,...,Zwilling,Edward Harrison,160.0,66.0,L,L,1910-08-14,1916-07-12,zwild101,zwilldu01
19877,zychto01,1990.0,8.0,7.0,USA,IL,Monee,NaN,NaN,NaN,...,Zych,Anthony Aaron,190.0,75.0,R,R,2015-09-04,2017-08-19,zycht001,zychto01

In [54]:
combined_df = pd.merge(war2019_df, players_df, on="playerID")
combined_df

,Rk,Name,Age,Tm,G,PA,Rbat,Rbaser,Rdp,Rfield,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,1,Cody Bellinger*\bellico01,23,LAD,156,661,52,1,0,27,...,Bellinger,Cody James,203.0,76.0,L,L,2017-04-25,2019-09-29,bellc002,bellico01
1,2,Alex Bregman\bregmal01,25,HOU,156,690,53,-1,0,12,...,Bregman,Alexander David,180.0,72.0,R,R,2016-07-25,2019-09-29,brega001,bregmal01
2,3,Marcus Semien\semiema01,28,OAK,162,747,43,2,0,12,...,Semien,Marcus Andrew,195.0,72.0,R,R,2013-09-04,2019-09-29,semim001,semiema01
3,4,Matt Chapman\chapmma01,26,OAK,156,670,24,0,-1,34,...,Chapman,Matt James,220.0,72.0,R,R,2017-06-15,2019-09-28,chapm001,chapmma01
4,5,Mike Trout\troutmi01,27,LAA,134,600,61,3,1,-2,...,Trout,Michael Nelson,235.0,74.0,R,R,2011-07-08,2019-09-07,troum001,troutmi01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1393,1406,Art Warren\warrear01,26,SEA,0,0,0,0,0,0,...,Warren,Arthur Frank,230.0,75.0,R,R,2019-09-12,2019-09-29,warra002,warrear01
1394,1407,Ryan Weber\weberry01,28,BOS,0,0,0,0,0,0,...,Weber,James Ryan,180.0,73.0,R,R,2015-09-08,2019-09-26,weber001,weberry01
1395,1408,Matt Wotherspoon\wothema01,27,BAL,0,0,0,0,0,0,...,Wotherspoon,Matt Mark,215.0,74.0,R,R,2019-04-03,2019-06-23,wothm001,wothema01
1396,1409,Mike Wright\wrighmi01,29,2TM,0,0,0,0,0,0,...,Wright,Dennis Michael,215.0,78.0,R,R,2015-05-17,2019-06-30,wrigm001,wrighmi01
1397,1410,Steven Wright\wrighst01,34,BOS,0,0,0,0,0,0,...,Wright,Steven Richard,215.0,74.0,R,R,2013-04-23,2019-07-13,wrigs001,wrighst01

In [104]:
colleges_df


college_player_group = colleges_df['playerID'].unique()
# last_college_year = college_player_group['yearID'].max()
last_college_year = []
college_id = []

for player in college_player_group:
    last_college_year.append(colleges_df.loc[colleges_df['playerID'] == player,'yearID'].max())
    
for i in range(0,len(college_player_group)):
    player_specific_df = colleges_df.loc[colleges_df['playerID'] == college_player_group[i],:]
    college_id.append(player_specific_df.loc[player_specific_df['yearID'] == last_college_year[i],'schoolID'].max())

college_player_df = pd.DataFrame(
    {'playerID': college_player_group,
     'Last Year in College': last_college_year,
     'schoolID': college_id,     
    })

college_player_df

       playerID  Last Year in College    schoolID
0     aardsda01                  2003        rice
1      abadan01                  1993     gamiddl
2     abbeybe01                  1892     vermont
3     abbotje01                  1994    kentucky
4     abbotji01                  1988    michigan
...         ...                   ...         ...
6570  zoskyed01                  1989    fresnost
6571  zuberjo01                  1992  california
6572  zuninmi01                  2012     florida
6573  zupcibo01                  1987     oralrob
6574  zuvelpa01                  1980    stanford

[6575 rows x 3 columns]

In [107]:
combined_college_school_df = pd.merge(college_player_df, schools_df, on="schoolID")
combined_college_school_df

,playerID,Last Year in College,schoolID,name_full,city,state,country
0,aardsda01,2003,rice,Rice University,Houston,TX,USA
1,anderma01,1997,rice,Rice University,Houston,TX,USA
2,barziph01,2001,rice,Rice University,Houston,TX,USA
3,berkmla01,1997,rice,Rice University,Houston,TX,USA
4,byrdati01,1994,rice,Rice University,Houston,TX,USA
...,...,...,...,...,...,...,...
6565,yatesty01,1998,hawaiihilo,University of Hawaii at Hilo,Hilo,HI,USA
6566,yellela01,1962,huntercuny,"Hunter College, The City University of New York",New York,NY,USA
6567,youngch02,1922,txclare,Clarendon College,Clarendon,TX,USA
6568,zabelzi01,1912,bakerks,Baker University,Baldwin City,KS,USA
6569,zerbech01,1991,flhills,Hillsborough Community College,Tampa,FL,USA

In [109]:
combined_all_df = pd.merge(combined_df,combined_college_school_df,on="playerID",how="left")
combined_all_df.columns

Index(['Rk', 'Name', 'Age', 'Tm', 'G', 'PA', 'Rbat', 'Rbaser', 'Rdp', 'Rfield',
       'Rpos', 'RAA', 'WAA', 'Rrep', 'RAR', 'WAR▼', 'waaWL%', '162WL%', 'oWAR',
       'dWAR', 'oRAR', 'Salary', 'Acquired', 'Pos Summary', 'Player Name',
       'Player ID', 'playerID', 'birthYear', 'birthMonth', 'birthDay',
       'birthCountry', 'birthState', 'birthCity', 'deathYear', 'deathMonth',
       'deathDay', 'deathCountry', 'deathState', 'deathCity', 'nameFirst',
       'nameLast', 'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut',
       'finalGame', 'retroID', 'bbrefID', 'Last Year in College', 'schoolID',
       'name_full', 'city', 'state', 'country'],
      dtype='object')

In [136]:
truedataset = combined_all_df[["playerID","Tm", "WAR▼","nameFirst", 'nameLast', 'Age', 'weight', 
                              'height', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry', 
                              'birthState', 'birthCity','name_full', 'city', 'state', 'country']]
truedataset.head(60)

,playerID,Tm,WAR▼,nameFirst,nameLast,Age,weight,height,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,name_full,city,state,country
0,bellico01,LAD,9.1,Cody,Bellinger,23,203.0,76.0,1995.0,7.0,13.0,USA,AZ,Scottsdale,NaN,NaN,NaN,NaN
1,bregmal01,HOU,9.1,Alex,Bregman,25,180.0,72.0,1994.0,3.0,30.0,USA,NM,Albuquerque,NaN,NaN,NaN,NaN
2,semiema01,OAK,8.9,Marcus,Semien,28,195.0,72.0,1990.0,9.0,17.0,USA,CA,San Francisco,"University of California, Berkeley",Berkeley,CA,USA
3,chapmma01,OAK,8.3,Matt,Chapman,26,220.0,72.0,1993.0,4.0,28.0,USA,CA,Victorville,NaN,NaN,NaN,NaN
4,troutmi01,LAA,8.2,Mike,Trout,27,235.0,74.0,1991.0,8.0,7.0,USA,NJ,Vineland,NaN,NaN,NaN,NaN
5,marteke01,ARI,7.2,Ketel,Marte,25,165.0,73.0,1993.0,10.0,12.0,D.R.,Peravia,Nizao,NaN,NaN,NaN,NaN
6,yelicch01,MIL,7.0,Christian,Yelich,27,195.0,75.0,1991.0,12.0,5.0,USA,CA,Thousand Oaks,NaN,NaN,NaN,NaN
7,bettsmo01,BOS,6.9,Mookie,Betts,26,180.0,69.0,1992.0,10.0,7.0,USA,TN,Nashville,NaN,NaN,NaN,NaN
8,arenano01,COL,6.7,Nolan,Arenado,28,215.0,74.0,1991.0,4.0,16.0,USA,CA,Newport Beach,NaN,NaN,NaN,NaN
9,rendoan01,WSN,6.4,Anthony,Rendon,29,200.0,73.0,1990.0,6.0,6.0,USA,TX,Houston,Rice University,Houston,TX,USA
10,springe01,HOU,6.4,George,Springer,29,215.0,75.0,1989.0,9.0,19.0,USA,CT,New Britain,NaN,NaN,NaN,NaN
11,storytr01,COL,6.1,Trevor,Story,26,214.0,74.0,1992.0,11.0,15.0,USA,TX,Irving,NaN,NaN,NaN,NaN
12,donaljo02,ATL,6.0,Josh,Donaldson,33,210.0,73.0,1985.0,12.0,8.0,USA,FL,Pensacola,Auburn University,Auburn,AL,USA
13,baezja01,CHC,6.0,Javier,Baez,26,190.0,72.0,1992.0,12.0,1.0,P.R.,NaN,Bayamon,NaN,NaN,NaN,NaN
14,bogaexa01,BOS,5.9,Xander,Bogaerts,26,210.0,73.0,1992.0,10.0,1.0,Aruba,NaN,Oranjestad,NaN,NaN,NaN,NaN
15,lemahdj01,NYY,5.9,DJ,LeMahieu,30,215.0,76.0,1988.0,7.0,13.0,USA,CA,Visalia,Louisiana State University,Baton Rouge,LA,USA
16,acunaro01,ATL,5.7,Ronald,Acuna,21,180.0,72.0,1997.0,12.0,18.0,Venezuela,Vargas,La Guaira,NaN,NaN,NaN,NaN
17,muncyma01,LAD,5.7,Max,Muncy,28,218.0,72.0,1990.0,8.0,25.0,USA,TX,Midland,NaN,NaN,NaN,NaN
18,judgeaa01,NYY,5.5,Aaron,Judge,27,282.0,79.0,1992.0,4.0,26.0,USA,CA,Linden,NaN,NaN,NaN,NaN
19,olsonma02,OAK,5.4,Matt,Olson,25,230.0,77.0,1994.0,3.0,29.0,USA,GA,Atlanta,NaN,NaN,NaN,NaN
20,dejonpa01,STL,5.3,Paul,DeJong,25,200.0,72.0,1993.0,8.0,2.0,USA,FL,Orlando,NaN,NaN,NaN,NaN
21,wongko01,STL,5.2,Kolten,Wong,28,185.0,69.0,1990.0,10.0,10.0,USA,HI,Hilo,University of Hawaii at Manoa,Honolulu,HI,USA
22,albieoz01,ATL,5.2,Ozzie,Albies,22,165.0,68.0,1997.0,1.0,7.0,Curacao,NaN,Willemstad,NaN,NaN,NaN,NaN
23,alonspe01,NYM,5.2,Pete,Alonso,24,245.0,75.0,1994.0,12.0,7.0,USA,FL,Tampa,NaN,NaN,NaN,NaN
24,lindofr01,CLE,5.0,Francisco,Lindor,25,190.0,71.0,1993.0,11.0,14.0,P.R.,NaN,Caguas,NaN,NaN,NaN,NaN
25,deverra01,BOS,4.9,Rafael,Devers,22,237.0,72.0,1996.0,10.0,24.0,D.R.,Samana,Sanchez,NaN,NaN,NaN,NaN
26,mcneije01,NYM,4.9,Jeff,McNeil,27,195.0,73.0,1992.0,4.0,8.0,USA,CA,Santa Barbara,NaN,NaN,NaN,NaN
27,moncayo01,CHW,4.8,Yoan,Moncada,24,205.0,74.0,1995.0,5.0,27.0,Cuba,NaN,Abreus,NaN,NaN,NaN,NaN
28,polanjo01,MIN,4.8,Jorge,Polanco,25,200.0,71.0,1993.0,7.0,5.0,D.R.,San Pedro de Macoris,San Pedro de Macoris,NaN,NaN,NaN,NaN
29,brantmi02,HOU,4.8,Michael,Brantley,32,200.0,74.0,1987.0,5.0,15.0,USA,WA,Bellevue,NaN,NaN,NaN,NaN
30,santaca01,CLE,4.6,Carlos,Santana,33,210.0,71.0,1986.0,4.0,8.0,D.R.,Distrito Nacional,Santo Domingo,NaN,NaN,NaN,NaN
31,sotoju01,WSN,4.6,Juan,Soto,20,185.0,73.0,1998.0,10.0,25.0,D.R.,Distrito Nacional,Santo Domingo,NaN,NaN,NaN,NaN
32,fletcda02,LAA,4.5,David,Fletcher,25,185.0,69.0,1994.0,5.0,31.0,USA,CA,Orange,NaN,NaN,NaN,NaN
33,realmjt01,PHI,4.5,J. T.,Realmuto,28,210.0,73.0,1991.0,3.0,18.0,USA,OK,Del City,NaN,NaN,NaN,NaN
34,cruzne02,MIN,4.4,Nelson,Cruz,38,230.0,74.0,1980.0,7.0,1.0,D.R.,Monte Cristi,Las Matas de Santa Cruz,NaN,NaN,NaN,NaN
35,canhama01,OAK,4.3,Mark,Canha,30,212.0,74.0,1989.0,2.0,15.0,USA,CA,San Jose,NaN,NaN,NaN,NaN
36,ahmedni01,ARI,4.3,Nick,Ahmed,29,195.0,74.0,1990.0,3.0,15.0,USA,MA,Springfield,NaN,NaN,NaN,NaN
37,harpebr03,PHI,4.3,Bryce,Harper,26,220.0,75.0,1992.0,10.0,16.0,USA,NV,Las Vegas,NaN,NaN,NaN,NaN
38,adamewi01,TBR,4.2,Willy,Adames,23,205.0,72.0,1995.0,9.0,2.0,D.R.,Santiago,Santiago,NaN,NaN,NaN,NaN
39,tatisfe02,SDP,4.1,Fernando,Tatis,20,185.0,75.0,1999.0,1.0,2.0,D.R.,San Pedro de Macoris,San Pedro de Macoris,NaN,NaN,NaN,NaN
40,roblevi01,WSN,4.1,Victor,Robles,22,190.0,72.0,1997.0,5.0,19.0,D.R.,Santo Domingo,Santo Domingo Este,NaN,NaN,NaN,NaN
41,garvemi01,MIN,4.1,Mitch,Garver,28,220.0,73.0,1991.0,1.0,15.0,USA,NM,Albuquerque,NaN,NaN,NaN,NaN
42,gardnbr01,NYY,4.1,Brett,Gardner,35,195.0,71.0,1983.0,8.0,24.0,USA,SC,Holly Hill,College of Charleston,Charleston,SC,USA
43,keplema01,MIN,4.1,Max,Kepler,26,220.0,76.0,1993.0,2.0,10.0,Germany,Berlin,Berlin,NaN,NaN,NaN,NaN
44,turneju01,LAD,4.1,Justin,Turner,34,202.0,71.0,1984.0,11.0,23.0,USA,CA,Long Beach,California State University Fullerton,Fullerton,CA,USA
45,reynobr01,PIT,4.1,Bryan,Reynolds,24,205.0,75.0,1995.0,1.0,27.0,USA,MD,Baltimore,NaN,NaN,NaN,NaN
46,meadoau01,TBR,4.0,Austin,Meadows,24,220.0,75.0,1995.0,5.0,3.0,USA,GA,Atlanta,NaN,NaN,NaN,NaN
47,freemfr01,ATL,4.0,Freddie,Freeman,29,220.0,77.0,1989.0,9.0,12.0,USA,CA,Fountain Valley,NaN,NaN,NaN,NaN
48,perezro02,CLE,4.0,Roberto,Perez,30,220.0,71.0,1988.0,12.0,23.0,P.R.,NaN,Mayaguez,NaN,NaN,NaN,NaN
49,edmanto01,STL,3.9,Tommy,Edman,24,180.0,70.0,1995.0,5.0,9.0,USA,CA,San Diego,NaN,NaN,NaN,NaN
50,villajo01,BAL,3.9,Jonathan,Villar,28,215.0,73.0,1991.0,5.0,2.0,D.R.,La Vega,La Vega,NaN,NaN,NaN,NaN
51,gourryu01,HOU,3.9,Yuli,Gurriel,35,190.0,72.0,1984.0,6.0,9.0,Cuba,NaN,Sancti Spiritus,NaN,NaN,NaN,NaN
52,urshegi01,NYY,3.9,Gio,Urshela,27,220.0,72.0,1991.0,10.0,11.0,Colombia,Bolivar,Cartagena,NaN,NaN,NaN,NaN
53,suareeu01,CIN,3.9,Eugenio,Suarez,27,213.0,71.0,1991.0,7.0,18.0,Venezuela,Bolivar,Puerto Ordaz,NaN,NaN,NaN,NaN
54,tauchmi01,NYY,3.8,Mike,Tauchman,28,220.0,74.0,1990.0,12.0,3.0,USA,IL,Palatine,NaN,NaN,NaN,NaN
55,rizzoan01,CHC,3.8,Anthony,Rizzo,29,240.0,75.0,1989.0,8.0,8.0,USA,FL,Fort Lauderdale,NaN,NaN,NaN,NaN
56,phamth01,TBR,3.8,Tommy,Pham,31,215.0,73.0,1988.0,3.0,8.0,USA,NV,Las Vegas,NaN,NaN,NaN,NaN
57,altuvjo01,HOU,3.8,Jose,Altuve,29,165.0,66.0,1990.0,5.0,6.0,Venezuela,Carabobo,Puerto Cabello,NaN,NaN,NaN,NaN
58,chiriro01,HOU,3.8,Robinson,Chirinos,35,210.0,73.0,1984.0,6.0,5.0,Venezuela,Falcon,Punto Fijo,NaN,NaN,NaN,NaN
59,alvaryo01,HOU,3.7,Yordan,Alvarez,22,225.0,77.0,1997.0,6.0,27.0,Cuba,NaN,Las Tunas,NaN,NaN,NaN,NaN